# Panels has been removed from the newer versions of Pandas. Now they are same as MultiIndex.

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data

In [5]:
companies = ['MSFT', 'GOOG', 'AAPL', 'AMZN']
p = data.DataReader(name = companies, data_source = 'yahoo', start='2010-1-1', end='2019-12-31')
p

Attributes   Adj Close               ...       Volume
Symbols           MSFT         GOOG  ...         AAPL        AMZN
Date                                 ...
2009-12-31   23.925440   308.832428  ...   88102700.0   4523000.0
2010-01-04   24.294369   312.204773  ...  123432400.0   7599900.0
2010-01-05   24.302216   310.829926  ...  150476200.0   8851900.0
2010-01-06   24.153070   302.994293  ...  138040000.0   7178800.0
2010-01-07   23.901886   295.940735  ...  119282800.0  11030200.0
...                ...          ...  ...          ...         ...
2019-12-24  156.951309  1343.560059  ...   12119700.0    881300.0
2019-12-26  158.237793  1360.400024  ...   23280300.0   6005400.0
2019-12-27  158.527008  1351.890015  ...   36566500.0   6186600.0
2019-12-30  157.160736  1336.140015  ...   36028600.0   3674700.0
2019-12-31  157.270432  1337.020020  ...   25201400.0   2506500.0

[2517 rows x 24 columns]

In [6]:
type(p)

pandas.core.frame.DataFrame

In [7]:
p.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2009-12-31 to 2019-12-31
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, MSFT)  2517 non-null   float64
 1   (Adj Close, GOOG)  2517 non-null   float64
 2   (Adj Close, AAPL)  2517 non-null   float64
 3   (Adj Close, AMZN)  2517 non-null   float64
 4   (Close, MSFT)      2517 non-null   float64
 5   (Close, GOOG)      2517 non-null   float64
 6   (Close, AAPL)      2517 non-null   float64
 7   (Close, AMZN)      2517 non-null   float64
 8   (High, MSFT)       2517 non-null   float64
 9   (High, GOOG)       2517 non-null   float64
 10  (High, AAPL)       2517 non-null   float64
 11  (High, AMZN)       2517 non-null   float64
 12  (Low, MSFT)        2517 non-null   float64
 13  (Low, GOOG)        2517 non-null   float64
 14  (Low, AAPL)        2517 non-null   float64
 15  (Low, AMZN)        2517 non-null   float64
 16  (Open, MSFT)       2517 non-null   float64
 17  (Open, GOOG)       2517 non-null   float64
 18  (Open, AAPL)       2517 non-null   float64
 19  (Open, AMZN)       2517 non-null   float64
 20  (Volume, MSFT)     2517 non-null   float64
 21  (Volume, GOOG)     2517 non-null   float64
 22  (Volume, AAPL)     2517 non-null   float64
 23  (Volume, AMZN)     2517 non-null   float64
dtypes: float64(24)
memory usage: 491.6 KB

In [8]:
p.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
               '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)

In [9]:
p.columns

MultiIndex([('Adj Close', 'MSFT'),
            ('Adj Close', 'GOOG'),
            ('Adj Close', 'AAPL'),
            ('Adj Close', 'AMZN'),
            (    'Close', 'MSFT'),
            (    'Close', 'GOOG'),
            (    'Close', 'AAPL'),
            (    'Close', 'AMZN'),
            (     'High', 'MSFT'),
            (     'High', 'GOOG'),
            (     'High', 'AAPL'),
            (     'High', 'AMZN'),
            (      'Low', 'MSFT'),
            (      'Low', 'GOOG'),
            (      'Low', 'AAPL'),
            (      'Low', 'AMZN'),
            (     'Open', 'MSFT'),
            (     'Open', 'GOOG'),
            (     'Open', 'AAPL'),
            (     'Open', 'AMZN'),
            (   'Volume', 'MSFT'),
            (   'Volume', 'GOOG'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'AMZN')],
           names=['Attributes', 'Symbols'])

In [10]:
p.items

<bound method DataFrame.items of Attributes   Adj Close               ...       Volume
Symbols           MSFT         GOOG  ...         AAPL        AMZN
Date                                 ...
2009-12-31   23.925440   308.832428  ...   88102700.0   4523000.0
2010-01-04   24.294369   312.204773  ...  123432400.0   7599900.0
2010-01-05   24.302216   310.829926  ...  150476200.0   8851900.0
2010-01-06   24.153070   302.994293  ...  138040000.0   7178800.0
2010-01-07   23.901886   295.940735  ...  119282800.0  11030200.0
...                ...          ...  ...          ...         ...
2019-12-24  156.951309  1343.560059  ...   12119700.0    881300.0
2019-12-26  158.237793  1360.400024  ...   23280300.0   6005400.0
2019-12-27  158.527008  1351.890015  ...   36566500.0   6186600.0
2019-12-30  157.160736  1336.140015  ...   36028600.0   3674700.0
2019-12-31  157.270432  1337.020020  ...   25201400.0   2506500.0

[2517 rows x 24 columns]>

In [12]:
p.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
                '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
                '2019-12-30', '2019-12-31'],
               dtype='datetime64[ns]', name='Date', length=2517, freq=None),
 MultiIndex([('Adj Close', 'MSFT'),
             ('Adj Close', 'GOOG'),
             ('Adj Close', 'AAPL'),
             ('Adj Close', 'AMZN'),
             (    'Close', 'MSFT'),
             (    'Close', 'GOOG'),
             (    'Close', 'AAPL'),
             (    'Close', 'AMZN'),
             (     'High', 'MSFT'),
             (     'High', 'GOOG'),
             (     'High', 'AAPL'),
             (     'High', 'AMZN'),
             (      'Low', 'MSFT'),
             (      'Low', 'GOOG'),
             (      'Low', 'AAPL'),
             (      'Low', 'AMZN'),
             (     'Open', 'MSFT'),
             (     'Open', 'GOOG'),
             (     'Open', 'AAPL'),
             (     'Open', 'AMZN'),
             (   'Volume', 'MSFT'),
             (   'Volume', 'GOOG'),
             (   'Volume', 'AAPL'),
             (   'Volume', 'AMZN')],
            names=['Attributes', 'Symbols'])]

In [13]:
p.shape

(2517, 24)

In [14]:
p.size

60408

In [15]:
p['Open']

Symbols           MSFT         GOOG        AAPL         AMZN
Date
2009-12-31   30.980000   311.208527   30.447144   137.089996
2010-01-04   30.620001   312.304413   30.490000   136.250000
2010-01-05   30.850000   312.418976   30.657143   133.429993
2010-01-06   30.879999   311.761444   30.625713   134.600006
2010-01-07   30.629999   303.562164   30.250000   132.009995
...                ...          ...         ...          ...
2019-12-24  157.479996  1348.500000  284.690002  1793.810059
2019-12-26  157.559998  1346.170044  284.820007  1801.010010
2019-12-27  159.449997  1362.989990  291.119995  1882.920044
2019-12-30  158.990005  1350.000000  289.459991  1874.000000
2019-12-31  156.770004  1330.109985  289.929993  1842.000000

[2517 rows x 4 columns]

In [18]:
p['Volume'].head()

Symbols           MSFT        GOOG         AAPL        AMZN
Date
2009-12-31  31929700.0   2448700.0   88102700.0   4523000.0
2010-01-04  38409100.0   3927000.0  123432400.0   7599900.0
2010-01-05  49749600.0   6031900.0  150476200.0   8851900.0
2010-01-06  58182400.0   7987100.0  138040000.0   7178800.0
2010-01-07  50559700.0  12876600.0  119282800.0  11030200.0

In [22]:
p.loc['2019-12-30', 'Open']

Symbols
MSFT     158.990005
GOOG    1350.000000
AAPL     289.459991
AMZN    1874.000000
Name: 2019-12-30 00:00:00, dtype: float64

In [24]:
p.loc['2019-12-30', ('Open', 'GOOG')]

1350.0

In [25]:
p.iloc[2]

Attributes  Symbols
Adj Close   MSFT       2.430222e+01
            GOOG       3.108299e+02
            AAPL       2.658437e+01
            AMZN       1.346900e+02
Close       MSFT       3.096000e+01
            GOOG       3.108299e+02
            AAPL       3.062571e+01
            AMZN       1.346900e+02
High        MSFT       3.110000e+01
            GOOG       3.127477e+02
            AAPL       3.079857e+01
            AMZN       1.354800e+02
Low         MSFT       3.064000e+01
            GOOG       3.096095e+02
            AAPL       3.046428e+01
            AMZN       1.318100e+02
Open        MSFT       3.085000e+01
            GOOG       3.124190e+02
            AAPL       3.065714e+01
            AMZN       1.334300e+02
Volume      MSFT       4.974960e+07
            GOOG       6.031900e+06
            AAPL       1.504762e+08
            AMZN       8.851900e+06
Name: 2010-01-05 00:00:00, dtype: float64

In [27]:
p.iloc[4, 2]

26.11314582824707

In [28]:
p.iloc[4,17]

303.5621643066406

In [29]:
p.mean()

Attributes  Symbols
Adj Close   MSFT       5.232996e+01
            GOOG       6.437882e+02
            AAPL       1.037841e+02
            AMZN       6.759919e+02
Close       MSFT       5.631190e+01
            GOOG       6.437882e+02
            AAPL       1.103134e+02
            AMZN       6.759919e+02
High        MSFT       5.675876e+01
            GOOG       6.490989e+02
            AAPL       1.112666e+02
            AMZN       6.825695e+02
Low         MSFT       5.580547e+01
            GOOG       6.381671e+02
            AAPL       1.092883e+02
            AMZN       6.687083e+02
Open        MSFT       5.630031e+01
            GOOG       6.437501e+02
            AAPL       1.102876e+02
            AMZN       6.761770e+02
Volume      MSFT       3.992303e+07
            GOOG       3.299746e+06
            AAPL       7.490353e+07
            AMZN       4.529010e+06
dtype: float64