In [48]:
import pandas as pd
import numpy as np

In [49]:
fortune = pd.read_csv('fortune1000.csv', index_col = 'Rank')
sectors = fortune.groupby('Sector')
fortune

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [50]:
type(fortune)

pandas.core.frame.DataFrame

In [51]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

## Some Methods on GroupBy object

In [52]:
len(fortune)

1000

In [53]:
len(sectors)

21

In [54]:
fortune.size

7000

In [55]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [56]:
sectors.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [57]:
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

## groups Attribute

In [58]:
sectors.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

## Retrieve a Group with .get_group() Method

In [59]:
sectors.get_group('Energy')

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [60]:
sectors.get_group("Apparel")

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,"Los Angeles, CA",2204,82,13500

## Some more Methods

#### max() and min()

In [61]:
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [62]:
sectors.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [63]:
sectors['Revenue'].max()

Sector
Aerospace & Defense              96114
Apparel                          30601
Business Services                19330
Chemicals                        48778
Energy                          246204
Engineering & Construction       18114
Financials                      210821
Food and Drug Stores            153290
Food, Beverages & Tobacco        67702
Health Care                     181241
Hotels, Resturants & Leisure     25413
Household Products               78756
Industrials                     140389
Materials                        22534
Media                            52465
Motor Vehicles & Parts          152356
Retailing                       482130
Technology                      233715
Telecommunications              146801
Transportation                   58363
Wholesalers                      48681
Name: Revenue, dtype: int64

In [64]:
sectors[['Revenue', 'Profits']].min()

                              Revenue  Profits
Sector
Aerospace & Defense              1923     -240
Apparel                          2204       82
Business Services                1910    -1481
Chemicals                        2084     -816
Energy                           1898   -23119
Engineering & Construction       1909     -155
Financials                       1902    -1194
Food and Drug Stores             2151      -62
Food, Beverages & Tobacco        2066     -253
Health Care                      1987     -458
Hotels, Resturants & Leisure     1896    -1394
Household Products               1914    -1149
Industrials                      1895    -6126
Materials                        1924    -1642
Media                            1921     -881
Motor Vehicles & Parts           1986     -889
Retailing                        1999    -1243
Technology                       1920    -4359
Telecommunications               2726     -271
Transportation                   1995     -191
Wholesalers                      1917     -502

#### sum() and mean()

In [65]:
sectors.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [66]:
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [67]:
sectors['Revenue'].mean()

Sector
Aerospace & Defense             17897.000000
Apparel                          6397.866667
Business Services                5337.156863
Chemicals                        8129.900000
Energy                          12441.057377
Engineering & Construction       5922.423077
Financials                      15950.784173
Food and Drug Stores            32251.266667
Food, Beverages & Tobacco       12929.465116
Health Care                     21529.426667
Hotels, Resturants & Leisure     6781.840000
Household Products               8383.464286
Industrials                     10816.978261
Materials                        6026.627907
Media                            8830.560000
Motor Vehicles & Parts          20105.833333
Retailing                       18313.450000
Technology                      13505.882353
Telecommunications              30788.933333
Transportation                  11347.444444
Wholesalers                     11120.000000
Name: Revenue, dtype: float64

In [68]:
sectors['Revenue'].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

## Grouping by Multiple Columns

In [69]:
company = fortune.groupby(['Sector', 'Industry'])

In [70]:
company.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [71]:
company.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]

In [72]:
company['Revenue'].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            17897.000000
Apparel              Apparel                                           6397.866667
Business Services    Advertising, marketing                           11374.000000
                     Diversified Outsourcing Services                  4630.642857
                     Education                                         2495.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                           3994.444444
Wholesalers          Miscellaneous                                     8982.000000
                     Wholesalers: Diversified                          7045.520000
                     Wholesalers: Electronics and Office Equipment    18488.250000
                     Wholesalers: Food and Grocery                    18629.000000
Name: Revenue, Length: 79, dtype: float64

## agg() Method

In [73]:
sectors.agg('sum')

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [74]:
sectors.agg({'Revenue':'sum', 'Profits':'sum', 'Employees':'mean'})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    28742  48402.850000
Apparel                         95968     8236  23093.133333
Business Services              272195    28227  26687.254902
Chemicals                      243897    22628  15455.033333
Energy                        1517809   -73447   9745.303279
Engineering & Construction     153983     5304  15642.615385
Financials                    2217159   260209  24172.287770
Food and Drug Stores           483769    16759  93026.533333
Food, Beverages & Tobacco      555967    51417  28177.488372
Health Care                   1614707   106114  35710.520000
Hotels, Resturants & Leisure   169546    20697  99369.800000
Household Products             234737    14428  23072.785714
Industrials                    497581    20764  33591.934783
Materials                      259145     4428  14840.069767
Media                          220764    24347  22012.560000
Motor Vehicles & Parts         482540    25898  45106.666667
Retailing                     1465076    47830  77845.362500
Technology                    1377600   180473  35087.735294
Telecommunications             461834    48637  55497.866667
Transportation                 408508    44169  42688.694444
Wholesalers                    444800     8233  13139.925000

In [75]:
sectors.agg(['sum', 'median', 'std'])

                              Revenue                       Profits         \
                                  sum  median           std     sum median
Sector
Aerospace & Defense            357940  6832.0  24468.237017   28742  566.5
Apparel                         95968  3963.0   7254.770616    8236  233.0
Business Services              272195  3160.0   4102.377498   28227  296.0
Chemicals                      243897  4224.0   9575.323185   22628  367.5
Energy                        1517809  5271.0  27362.358215  -73447  188.5
Engineering & Construction     153983  4564.5   4579.682742    5304  150.5
Financials                    2217159  5674.0  27105.928018  260209  583.0
Food and Drug Stores           483769  3971.0  48595.512604   16759  192.0
Food, Beverages & Tobacco      555967  6028.0  15732.585231   51417  498.0
Health Care                   1614707  7098.0  35680.266614  106114  346.0
Hotels, Resturants & Leisure   169546  4378.0   6012.189110   20697  195.0
Household Products             234737  4553.0  14416.609895   14428  274.0
Industrials                    497581  3451.5  22070.679715   20764  215.0
Materials                      259145  4160.0   4698.190148    4428  142.0
Media                          220764  3242.0  11685.332576   24347  151.0
Motor Vehicles & Parts         482540  5752.0  41174.300379   25898  233.0
Retailing                     1465076  6671.5  55751.002620   47830  182.0
Technology                    1377600  4059.5  30169.473168  180473  373.0
Telecommunications             461834  8229.0  47551.639576   48637  747.0
Transportation                 408508  5215.0  14740.409538   44169  392.0
Wholesalers                    444800  7356.0  11049.255712    8233  128.0

                                          Employees
                                      std       sum   median            std
Sector
Aerospace & Defense           2026.281788    968057  24803.0   55389.486777
Apparel                        810.479441    346397  13500.0   21833.228179
Business Services             1058.517026   1361050  13000.0   37717.982486
Chemicals                     1481.756552    463651   7431.5   15644.314440
Energy                        3872.846220   1188927   5301.5   12949.476412
Engineering & Construction     229.344283    406708   7380.0   20625.225235
Financials                    4108.831303   3359948   7621.0   49070.504370
Food and Drug Stores          1677.128944   1395398  20000.0  129049.965843
Food, Beverages & Tobacco     2032.684843   1211632  11500.0   46494.442039
Health Care                   3025.285364   2678289  18800.0   40300.162385
Hotels, Resturants & Leisure  1554.535657   2484245  46500.0  125535.275256
Household Products            1368.085601    646038  16561.0   22183.386913
Industrials                   1501.766522   1545229  12850.0   55084.589340
Materials                      408.060832    638123  12000.0   12884.845967
Media                         2413.073547    550314  12200.0   36512.729298
Motor Vehicles & Parts        2404.801825   1082560  13550.0   61835.587198
Retailing                     1896.931188   6227629  22704.0  261173.769204
Technology                    5955.766651   3578949  12905.0   61938.492917
Telecommunications            5517.519394    832468  18000.0   82347.959648
Transportation                2005.153081   1536793  16664.0   76312.912270
Wholesalers                    308.448299    525597   8700.0   15273.192529

In [76]:
sectors.agg({'Revenue':['sum', 'mean'], 'Profits':'sum', 'Employees':'mean'})

                              Revenue               Profits     Employees
                                  sum          mean     sum          mean
Sector
Aerospace & Defense            357940  17897.000000   28742  48402.850000
Apparel                         95968   6397.866667    8236  23093.133333
Business Services              272195   5337.156863   28227  26687.254902
Chemicals                      243897   8129.900000   22628  15455.033333
Energy                        1517809  12441.057377  -73447   9745.303279
Engineering & Construction     153983   5922.423077    5304  15642.615385
Financials                    2217159  15950.784173  260209  24172.287770
Food and Drug Stores           483769  32251.266667   16759  93026.533333
Food, Beverages & Tobacco      555967  12929.465116   51417  28177.488372
Health Care                   1614707  21529.426667  106114  35710.520000
Hotels, Resturants & Leisure   169546   6781.840000   20697  99369.800000
Household Products             234737   8383.464286   14428  23072.785714
Industrials                    497581  10816.978261   20764  33591.934783
Materials                      259145   6026.627907    4428  14840.069767
Media                          220764   8830.560000   24347  22012.560000
Motor Vehicles & Parts         482540  20105.833333   25898  45106.666667
Retailing                     1465076  18313.450000   47830  77845.362500
Technology                    1377600  13505.882353  180473  35087.735294
Telecommunications             461834  30788.933333   48637  55497.866667
Transportation                 408508  11347.444444   44169  42688.694444
Wholesalers                    444800  11120.000000    8233  13139.925000

## Iterating through Groups

In [77]:
for sector, data in sectors:
    print(sector)
    print(data)

Aerospace & Defense
                            Company               Sector  \
Rank
24                           Boeing  Aerospace & Defense
45              United Technologies  Aerospace & Defense
60                  Lockheed Martin  Aerospace & Defense
88                 General Dynamics  Aerospace & Defense
118                Northrop Grumman  Aerospace & Defense
120                        Raytheon  Aerospace & Defense
209                         Textron  Aerospace & Defense
245              L-3 Communications  Aerospace & Defense
282             Precision Castparts  Aerospace & Defense
378   Huntington Ingalls Industries  Aerospace & Defense
389     Spirit AeroSystems Holdings  Aerospace & Defense
490                Rockwell Collins  Aerospace & Defense
560                     Orbital ATK  Aerospace & Defense
605                   Triumph Group  Aerospace & Defense
785                   B/E Aerospace  Aerospace & Defense
788                 TransDigm Group  Aerospace & Defense
836                            Moog  Aerospace & Defense
903                  Curtiss-Wright  Aerospace & Defense
958                        Woodward  Aerospace & Defense
987           Delta Tucker Holdings  Aerospace & Defense

                   Industry          Location  Revenue  Profits  Employees
Rank
24    Aerospace and Defense       Chicago, IL    96114     5176     161400
45    Aerospace and Defense    Farmington, CT    61047     7608     197200
60    Aerospace and Defense      Bethesda, MD    46132     3605     126000
88    Aerospace and Defense  Falls Church, VA    31469     2965      99900
118   Aerospace and Defense  Falls Church, VA    23526     1990      65000
120   Aerospace and Defense       Waltham, MA    23247     2074      61000
209   Aerospace and Defense    Providence, RI    13423      697      35000
245   Aerospace and Defense      New York, NY    11554     -240      38000
282   Aerospace and Defense      Portland, OR    10056     1530      30106
378   Aerospace and Defense  Newport News, VA     7020      404      35995
389   Aerospace and Defense       Wichita, KS     6644      789      15200
490   Aerospace and Defense  Cedar Rapids, IA     5262      686      19500
560   Aerospace and Defense        Dulles, VA     4369      159      12300
605   Aerospace and Defense        Berwyn, PA     3889      239      15153
785   Aerospace and Defense    Wellington, FL     2730      286      10057
788   Aerospace and Defense     Cleveland, OH     2707      447       8200
836   Aerospace and Defense          Elma, NY     2526      132      10691
903   Aerospace and Defense     Charlotte, NC     2264      146       8400
958   Aerospace and Defense  Fort Collins, CO     2038      182       6955
987   Aerospace and Defense        McLean, VA     1923     -133      12000
Apparel
                   Company   Sector Industry             Location  Revenue  \
Rank
91                    Nike  Apparel  Apparel        Beaverton, OR    30601
231                     VF  Apparel  Apparel       Greensboro, NC    12377
340                    PVH  Apparel  Apparel         New York, NY     8020
354           Ralph Lauren  Apparel  Apparel         New York, NY     7620
448            Hanesbrands  Apparel  Apparel    Winston-Salem, NC     5732
547           Levi Strauss  Apparel  Apparel    San Francisco, CA     4495
575                  Coach  Apparel  Apparel         New York, NY     4192
597           Under Armour  Apparel  Apparel        Baltimore, MD     3963
683           Fossil Group  Apparel  Apparel       Richardson, TX     3229
695        Skechers U.S.A.  Apparel  Apparel  Manhattan Beach, CA     3159
726               Carter’s  Apparel  Apparel          Atlanta, GA     3014
794   Wolverine World Wide  Apparel  Apparel         Rockford, MI     2692
877    G-III Apparel Group  Apparel  Apparel         New York, NY     2344
882    Columbia Sportswear  Apparel  Apparel         Portland, OR     2326
917                  Guess  Apparel  Apparel      Los Angeles, CA     2204

      Profits  Employees
Rank
91       3273      62600
231      1232      64000
340       572      26200
354       702      20000
448       429      65300
547       209      12500
575       402      12950
597       233       9600
683       221      15100
695       232       6400
726       238      16800
794       123       6550
877       114       8919
882       174       5978
917        82      13500
Business Services
                                     Company             Sector  \
Rank
144                            ManpowerGroup  Business Services
186                            Omnicom Group  Business Services
199                                  Aramark  Business Services
204                                     Visa  Business Services
221                         Waste Management  Business Services
248                                      ADP  Business Services
249                               First Data  Business Services
294                               MasterCard  Business Services
307                          PayPal Holdings  Business Services
312                        Republic Services  Business Services
355                        Interpublic Group  Business Services
392   Fidelity National Information Services  Business Services
404                    Alliance Data Systems  Business Services
440                           United Rentals  Business Services
467                           Kelly Services  Business Services
468                            Western Union  Business Services
481                               S&P Global  Business Services
485                           ABM Industries  Business Services
492                                   Fiserv  Business Services
503                Robert Half International  Business Services
545                                   Cintas  Business Services
626                            Towers Watson  Business Services
635                                      ADT  Business Services
652                                  Moody’s  Business Services
677                            Clean Harbors  Business Services
694                                   Vantiv  Business Services
714                                  Brink’s  Business Services
729                            Iron Mountain  Business Services
734              Service Corp. International  Business Services
735                               Stericycle  Business Services
737                          Graham Holdings  Business Services
744                                Convergys  Business Services
767                              DST Systems  Business Services
776                    Total System Services  Business Services
777                          Global Payments  Business Services
783                                  Paychex  Business Services
791                                 TrueBlue  Business Services
792           Broadridge Financial Solutions  Business Services
796                Heartland Payment Systems  Business Services
801                                  Equifax  Business Services
803                             TriNet Group  Business Services
816                                Insperity  Business Services
819            ServiceMaster Global Holdings  Business Services
820                   Apollo Education Group  Business Services
869                                     West  Business Services
870                           Public Storage  Business Services
886                               IHS Markit  Business Services
939                        Waste Connections  Business Services
951                            On Assignment  Business Services
952                         Verisk Analytics  Business Services
993                    DeVry Education Group  Business Services

                              Industry             Location  Revenue  Profits  \
Rank
144                     Temporary Help        Milwaukee, WI    19330      419
186             Advertising, marketing         New York, NY    15134     1094
199   Diversified Outsourcing Services     Philadelphia, PA    14329      236
204            Financial Data Services      Foster City, CA    13880     6328
221                   Waste Management          Houston, TX    12961      753
248   Diversified Outsourcing Services         Roseland, NJ    11477     1453
249            Financial Data Services          Atlanta, GA    11451    -1481
294            Financial Data Services         Purchase, NY     9667     3808
307            Financial Data Services         San Jose, CA     9248     1228
312                   Waste Management          Phoenix, AZ     9115      750
355             Advertising, marketing         New York, NY     7614      455
392            Financial Data Services     Jacksonville, FL     6595      632
404            Financial Data Services            Plano, TX     6440      597
440                      Miscellaneous         Stamford, CT     5817      585
467                     Temporary Help             Troy, MI     5518       54
468            Financial Data Services        Englewood, CO     5484      838
481            Financial Data Services         New York, NY     5313     1156
485   Diversified Outsourcing Services         New York, NY     5291       76
492            Financial Data Services       Brookfield, WI     5254      712
503                     Temporary Help       Menlo Park, CA     5095      358
545   Diversified Outsourcing Services       Cincinnati, OH     4508      431
626   Diversified Outsourcing Services        Arlington, VA     3645      385
635   Diversified Outsourcing Services       Boca Raton, FL     3574      296
652            Financial Data Services         New York, NY     3485      941
677                   Waste Management          Norwell, MA     3275       44
694            Financial Data Services  Symmes Township, OH     3160      148
714   Diversified Outsourcing Services         Richmond, VA     3066      -12
729   Diversified Outsourcing Services           Boston, MA     3008      123
734                      Miscellaneous          Houston, TX     2986      234
735                   Waste Management      Lake Forest, IL     2986      267
737                          Education        Arlington, VA     2984     -101
744   Diversified Outsourcing Services       Cincinnati, OH     2951      169
767            Financial Data Services      Kansas City, MO     2825      358
776            Financial Data Services         Columbus, GA     2780      364
777            Financial Data Services          Atlanta, GA     2774      278
783   Diversified Outsourcing Services        Rochester, NY     2740      675
791                     Temporary Help           Tacoma, WA     2696       71
792            Financial Data Services     Lake Success, NY     2694      287
796            Financial Data Services        Princeton, NJ     2682       85
801            Financial Data Services          Atlanta, GA     2664      429
803   Diversified Outsourcing Services      San Leandro, CA     2659       32
816   Diversified Outsourcing Services         Kingwood, TX     2604       39
819   Diversified Outsourcing Services          Memphis, TN     2594      160
820                          Education          Phoenix, AZ     2591       30
869   Diversified Outsourcing Services            Omaha, NE     2383      242
870                      Miscellaneous         Glendale, CA     2382     1311
886            Financial Data Services        Englewood, CO     2314      240
939                   Waste Management    The Woodlands, TX     2117      -96
951                     Temporary Help        Calabasas, CA     2077       98
952            Financial Data Services      Jersey City, NJ     2068      508
993                          Education    Downers Grove, IL     1910      140

      Employees
Rank
144       27000
186       74900
199      216500
204       11300
221       40600
248       55000
249       24000
294       11300
307       16800
312       33000
355       49200
392       55000
404       16000
440       12700
467        8100
468       10000
481       20400
485      120000
492       22000
503       16100
545       32000
626       16300
635       17100
652       10400
677       12900
694        3313
714       59900
729       20000
734       19720
735       25472
737       11585
744      130000
767       13420
776       10500
777        4438
783       13000
791        5500
792        7400
796        4272
801        8000
803        2500
816        2400
819       13000
820       23400
869       10630
870        5300
886        8600
939        7227
951        3320
952        7783
993       11770
Chemicals
                                 Company     Sector   Industry  \
Rank
56                          Dow Chemical  Chemicals  Chemicals
101                               DuPont  Chemicals  Chemicals
182                       PPG Industries  Chemicals  Chemicals
189                             Monsanto  Chemicals  Chemicals
206                               Ecolab  Chemicals  Chemicals
253                     Sherwin-Williams  Chemicals  Chemicals
262                              Praxair  Chemicals  Chemicals
277                             Huntsman  Chemicals  Chemicals
288             Air Products & Chemicals  Chemicals  Chemicals
296                     Eastman Chemical  Chemicals  Chemicals
316                               Mosaic  Chemicals  Chemicals
538                    RPM International  Chemicals  Chemicals
549                    Westlake Chemical  Chemicals  Chemicals
555                              Valspar  Chemicals  Chemicals
566               CF Industries Holdings  Chemicals  Chemicals
580                               Hexion  Chemicals  Chemicals
613                               Axiall  Chemicals  Chemicals
624                            Albemarle  Chemicals  Chemicals
654                                  FMC  Chemicals  Chemicals
668                              PolyOne  Chemicals  Chemicals
717                           W.R. Grace  Chemicals  Chemicals
720   International Flavors & Fragrances  Chemicals  Chemicals
724                   Scotts Miracle-Gro  Chemicals  Chemicals
758                                Cabot  Chemicals  Chemicals
761                                 Olin  Chemicals  Chemicals
829          Platform Specialty Products  Chemicals  Chemicals
865                          A. Schulman  Chemicals  Chemicals
898                         MPM Holdings  Chemicals  Chemicals
934                            NewMarket  Chemicals  Chemicals
949                          H.B. Fuller  Chemicals  Chemicals

                 Location  Revenue  Profits  Employees
Rank
56            Midland, MI    48778     7685      49495
101        Wilmington, DE    27940     1953      52000
182        Pittsburgh, PA    15330     1406      46600
189         St. Louis, MO    15001     2314      24000
206          St. Paul, MN    13545     1002      47145
253         Cleveland, OH    11339     1054      40706
262           Danbury, CT    10776     1547      26657
277     The Woodlands, TX    10299       93      15000
288         Allentown, PA     9895     1278      19550
296         Kingsport, TN     9648      848      15000
316          Plymouth, MN     8895     1000       8900
538            Medina, OH     4595      240      12864
549           Houston, TX     4463      646       4225
555       Minneapolis, MN     4393      400      11130
566         Deerfield, IL     4308      700       2850
580          Columbus, OH     4140      -40       5100
613           Atlanta, GA     3787     -816       5830
624       Baton Rouge, LA     3651      335       6963
654      Philadelphia, PA     3471      489       6000
668         Avon Lake, OH     3378      145       6900
717          Columbia, MD     3052      144       6700
720          New York, NY     3023      419       6732
724        Marysville, OH     3017      160       7900
758            Boston, MA     2871     -334       4600
761           Clayton, MO     2854       -1       6200
829   West Palm Beach, FL     2542     -309       8200
865          Fairlawn, OH     2392       27       5000
898         Waterford, NY     2289      -83       5000
934          Richmond, VA     2141      239       1979
949          St. Paul, MN     2084       87       4425
Energy
                        Company  Sector                      Industry  \
Rank
2                   Exxon Mobil  Energy            Petroleum Refining
14                      Chevron  Energy            Petroleum Refining
30                  Phillips 66  Energy            Petroleum Refining
32                Valero Energy  Energy            Petroleum Refining
42           Marathon Petroleum  Energy            Petroleum Refining
...                         ...     ...                           ...
981                  WPX Energy  Energy  Mining, Crude-Oil Production
983    Adams Resources & Energy  Energy            Petroleum Refining
995                   EP Energy  Energy  Mining, Crude-Oil Production
997   Portland General Electric  Energy   Utilities: Gas and Electric
997   Portland General Electric  Energy   Utilities: Gas and Electric

             Location  Revenue  Profits  Employees
Rank
2          Irving, TX   246204    16150      75600
14      San Ramon, CA   131118     4587      61500
30        Houston, TX    87169     4227      14000
32    San Antonio, TX    81824     3990      10103
42        Findlay, OH    64566     2852      45440
...               ...      ...      ...        ...
981         Tulsa, OK     1958    -1727       1040
983       Houston, TX     1944       -1        809
995       Houston, TX     1908    -3748        665
997      Portland, OR     1898      172       2646
997      Portland, OR     1898      172       2646

[122 rows x 7 columns]
Engineering & Construction
                       Company                      Sector  \
Rank
155                      Fluor  Engineering & Construction
156                      AECOM  Engineering & Construction
235   Jacobs Engineering Group  Engineering & Construction
260                D.R. Horton  Engineering & Construction
301                     Lennar  Engineering & Construction
314         Peter Kiewit Sons’  Engineering & Construction
352            Quanta Services  Engineering & Construction
381                EMCOR Group  Engineering & Construction
433                 PulteGroup  Engineering & Construction
478                  CH2M Hill  Engineering & Construction
498                        NVR  Engineering & Construction
501                        KBR  Engineering & Construction
516               Tutor Perini  Engineering & Construction
572                     MasTec  Engineering & Construction
576              Toll Brothers  Engineering & Construction
640          CalAtlantic Group  Engineering & Construction
719                    KB Home  Engineering & Construction
738       Taylor Morrison Home  Engineering & Construction
822             Meritage Homes  Engineering & Construction
863           TRI Pointe Group  Engineering & Construction
874       Granite Construction  Engineering & Construction
892                 Tetra Tech  Engineering & Construction
929      Hovnanian Enterprises  Engineering & Construction
963           Dycom Industries  Engineering & Construction
985          Primoris Services  Engineering & Construction
994               MDC Holdings  Engineering & Construction

                       Industry                Location  Revenue  Profits  \
Rank
155   Engineering, Construction              Irving, TX    18114      413
156   Engineering, Construction         Los Angeles, CA    17990     -155
235   Engineering, Construction            Pasadena, CA    12115      303
260                Homebuilders          Fort Worth, TX    10824      751
301                Homebuilders               Miami, FL     9474      803

In [78]:
df = pd.DataFrame(columns = fortune.columns)
for sector, data in sectors:
    highest_revenue = data.nlargest(1, 'Revenue')
    df = df.append(highest_revenue)

In [79]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [80]:
cities = fortune.groupby('Location')

In [81]:
df = pd.DataFrame(columns = fortune.columns)
for city, data in cities:
    highest_revenue = data.nlargest(1, 'Revenue')
    df = df.append(highest_revenue)

In [82]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510